* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.9rem;
}

body {
  font-family: "Inter", sans-serif !important;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,h2,h3,p {
  color: #011627 !important;
}

.navbar-link {
  text-decoration: none !important;
  color: white !important;
  border-bottom: 2px solid white !important;
}

i {
  color: white;
}

.categorias {
  background-color: white;
  color: #011627;
  padding: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.categorias ul li {
  border-bottom: 2px solid black;
}

.categorias-active {
  padding: 20px;
  height: auto; /* o un valor específico en px si lo conoces */
  opacity: 1;
}

.btn-buscar {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 5px 30px;
  color: white;
  background-color: black;
  border: 1px solid white;
}

.btn-genero {
  padding: 7px 35px;
  background-color: #1D4E89;
  /*
  otros colores que podemos usar
  #FFD700
  #A3D9A5
  #8E1C28
  */
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.btn-genero:hover {
  background-color: gray;
}

.btn-cart {
  padding: 12px 35px;
}

.img-running {
  object-position: 50% 50%;
}

.slick-next {
  position: absolute;
  top: 30%;
  background-color: transparent;
  border: none;
  right: 20px !important;
  width: 60px !important;
  height: 60px !important;
}

.slick-prev {
  position: absolute;
  top: 30%;
  background-color: transparent;
  border: none;
  left: 20px !important;
  z-index: 1000;
  width: 60px !important;
  height: 60px !important;
}

.login-input {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  gap: 15px;
}

.login-input input {
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  width: 450px;
  border:2px solid rgb(190, 190, 190);
}
.login-input input:focus{
  border-color: black
}

.login-input textarea {
  height: 150px;
  width: 450px;
  padding-top: 10px;
  border-radius: 10px;
  padding-left: 20px;
  border:2px solid rgb(190, 190, 190);
}

.login-input button {
  width: 450px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: black;
  border-color: transparent;
  height: 50px;
}

.login-cuenta {
  display: flex;
  align-items: start;
  margin-top: 20px;
  gap: 5px;
}

.login-cuenta a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

/*Animaciones de entrada: Puedes utilizar bibliotecas como AOS (Animate On Scroll) para animar los elementos conforme el usuario hace scroll.*/

.container-img {
  position: relative;
}

.btn-img {
  position: absolute;
  left: 10px;
  border: none;
  bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 15px;
}

.container-producto {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.producto-talle {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  max-width:600px;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
  border: 1px solid gray;
}

.btn-talle {
  padding: 5px 15px;
  border: none;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.btn-talle:hover {
  background-color: black;
  color: white;
}

.container-img {
  overflow: hidden;
  cursor: pointer;
}

.container-img img:hover {
  transform: scale(1.05);
}
.container-img img {
  transition: transform 0.3s ease;
}

.carrito-item {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.carrito-resumen {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.btn-filtro {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  gap: 50px;
  background-color: white;
  border: 1px solid gray;
  padding: 5px 20px;
}

.accordion-button {
  background-color: transparent !important;
  font-weight: bold !important;
  color: black !important;
}

.accordion-button p {
  color: #C7D6D5 !important;
}

.enlace-contactos {
  color: white !important;
  text-decoration: none !important;
}

.breadcrumb-item  a {
  text-decoration: none !important;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 25px 40px;
  color: white;
}


.btn-genero:hover,
.btn-img:hover {
  background-color: #101828;
  color: white;
  transform: scale(1.05);
}

.btn-genero,.btn-img {
  transition: transform 0.3s ease;
}


@media screen and (max-width: 1200px) {
  .btn-buscar {
    padding: 0;
    background-color: transparent;
    border: 0px;
  }
}


@media screen and (max-width: 988px) {
  .container-producto {
    grid-template-columns: auto auto auto;
  }

}

@media screen and (max-width: 768px) {
  
  .navbar-link {
    color: black !important;
  }

  .container-producto {
    grid-template-columns: auto auto;
  }

  .container-img {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    align-items: center;
    position: static;
  }

  .btn-img {
    background-color: black;
    color: white;
    padding: 10px 30px;
    position: static;
    bottom: 0;
    left: 0;
  }

}
@media screen and (max-width: 600px) {
  html {
    font-size: 0.85rem;
  }

  .login-input input,.login-input textarea, .login-input button {
    width: 350px;
  }
}
