* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.9rem;
}

body {
  font-family: "Inter", sans-serif !important;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,h2,h3,h4,p {
  color: #011627 !important;
}

/*
.talle-radio {
    display: none; /* Ocultar el radio button nativo 
}

.btn-talle {
    display: inline-block;
    border: 2px solid #ddd;
    background: white;
    color: #333;
    padding: 12px 18px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
    user-select: none;
}

.btn-talle:hover {
    border-color: #007bff;
    background-color: #f8f9ff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,123,255,0.2);
}

/* Cuando el radio está checked */
/*
.talle-radio:checked + .btn-talle {
    border-color: #007bff;
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 12px rgba(0,123,255,0.3);
}

.talle-radio:focus + .btn-talle {
    outline: 2px solid #007bff;
    outline-offset: 2px;
}

*/

/*barra de navegacion*/

.navbar{
  padding: 0 22px!important;
}

.nav-item{
  padding: 22px 16px;
  cursor: pointer;
}

.navbar-link-active {
  border-bottom: 2px solid white !important;
}

.navbar-link {
  text-decoration: none !important;
  color: white !important;
  transition: all 0.2s ease-in-out;
}

.navbar-link-disable {
  border: 0 !important;
  color: gray !important;
}

/*iconos*/
i {
  color: white;
}

/*esto es la seccion que aparece cuando el mouse pasa por hombres, mujeres y niños*/
.popover {
  background-color: white;
  color: #011627;
  padding: 0;
  height: 0;
  font-size: 16px;
  overflow: hidden;
  top:65px;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.popover ul li {
  border-bottom: 2px solid black;
}

.popover-active {
  padding: 16px 50px 16px 15px;
  height: auto;
  /*height: fit-content;* podria cambiar despues*/
  opacity: 1;
}

.btn-buscar {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 5px 30px;
  color: white;
  background-color: black;
  border: 1px solid white;
}

/*es el boton que mas usamos, hay que cambiarle el nombre*/
.btn-base {
  padding: 0px 35px;
  height: 50px;
  background-color: black;
  /*
  otros colores que podemos usar
  #FFD700
  #A3D9A5
  #8E1C28
  */
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

.btn-base:hover,
.btn-img:hover {
  background-color: gray;
  color: white;
}

.btn-base,.btn-img {
  transition: transform 0.3s ease;
}

/* boton de + y - que se encuentra en la vista de detalle de producto*/
.btn-ad {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border: none;
}

/*vista del carrito*/
.carrito-item {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.carrito-resumen {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 40%;
}

.btn-cart {
  padding: 12px 35px;
}

/*botones del carrousel de productos*/
.slick-next {
  position: absolute;
  top: 30%;
  background-color: transparent;
  border: none;
  right: 20px !important;
  width: 60px !important;
  height: 60px !important;
}

.slick-prev {
  position: absolute;
  top: 30%;
  background-color: transparent;
  border: none;
  left: 20px !important;
  z-index: 1000;
  width: 60px !important;
  height: 60px !important;
}

/* esto se usa en la vista del login, registro y consultas, hay que cambiarle el nombre a uno mas general*/
.container-input {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  gap: 15px;
}

input, select {
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  width: 100%;
  border:2px solid rgb(190, 190, 190);
}
.container-input input:focus{
  border-color: black
}
.btn-borrar-talle{
  width: 50px;
}

.label-input-file{
  height: 50px;
  background-color: rgb(10, 122, 57);
  width: 100%;
  color:white;
  font-weight: 600;
  display: flex;
  gap: 20px;
  margin-top: 10px;
  cursor: pointer;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
}
.container-input textarea {
  width: 100%;
  resize: none;
  padding-top: 10px;
  border-radius: 10px;
  padding-left: 20px;
  border:2px solid rgb(190, 190, 190);
}

.container-input button {
  width: 450px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: black;
  border-color: transparent;
  height: 50px;
  transition: all 0.3s ease;
}

.container-input button:hover {
  background-color: gray;
}

.compra-input input {
  width: 320px;
}

.login-cuenta {
  display: flex;
  align-items: start;
  margin-top: 20px;
  gap: 5px;
}

.login-cuenta a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

/*Animaciones de entrada: Puedes utilizar bibliotecas como AOS (Animate On Scroll) para animar los elementos conforme el usuario hace scroll.*/

/*contenedor de las imagenes de la vista inicio*/
.container-img {
  position: relative;
}

.container-img {
  overflow: hidden;
  cursor: pointer;
}

/*efecto en las imagenes de la vista inicio que hace que parezca que se agranda la imagen cuando pasamos el mouse sobre ellos*/
.container-img img:hover {
  transform: scale(1.05);
}
.container-img img {
  transition: transform 0.3s ease;
}

.img-running {
  object-position: 50% 50%;
}

/* boton de las 3 imagenes que se encuentran abajo en el inicio*/
.btn-img {
  position: absolute;
  left: 10px;
  border: none;
  bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 15px;
}

.imagen-producto {
    height: 25vw;
    min-height: 240px;
    max-height: 350px;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .imagen-producto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px 0px solid gray;
  }

/*contenedor de la vista de productos*/
.container-producto {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 16px;
}

.producto-talle {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  max-width:600px;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
  border: 1px solid gray;
}

.btn-talle {
  padding: 5px 15px;
  border: none;
  background-color: white;
  border: 1px solid black;
  color: black;
}
.btn-talle.active {
  background-color: black;
  color: white;
}

.btn-talle:hover {
  background-color: black;
  color: white;
}

/*boton que dice : ordenar por en la vista de productos*/
.btn-filtro {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  gap: 50px;
  background-color: white;
  border: 1px solid gray;
  padding: 5px 20px;
}

/*acordeon de bootstrap, lo usamos en la vista de preguntas frecuentes y en la vista de detalle de productos*/
.accordion-button {
  background-color: transparent !important;
  font-weight: bold !important;
  color: black !important;
}

.accordion-button p {
  color: #C7D6D5 !important;
}

.breadcrumb-item  a {
  text-decoration: none !important;
}

.container-favoritos {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

/*vista footer, lo que esta abajo de todas las vistas*/
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 25px 40px;
  color: white;
}

/* son los enlaces de la vista del footer : contactos,preguntas frecuentes, terminos y condiciones de uso, etc*/
.enlace-contactos {
  color: white !important;
  text-decoration: none !important;
}

/* las media queries se usan para controlar como se ven nuestros elementos a partir de cierto tamaño*/
/*lo ocupamos para hacer resposive nuestra pagina*/
@media screen and (max-width: 1200px) {
  /* el color de fondo de nuestro boton de busqueda ahora es transpararente y no tiene padding*/
  /* lo hacemos para que ahora solo se vea el icono de buscar*/
  .btn-buscar {
    padding: 0;
    background-color: transparent;
    border: 0px;
  }
  .container-producto {
    grid-template-columns: auto auto auto;
    gap:10px;
  }
}

@media screen and (max-width: 992px) {
  .container-favoritos {
    grid-template-columns: auto;
  }

  .carrito-item {
    width: 100%;
  }

  .carrito-resumen {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .popover {
    display: none;
  }

  .navbar {
    padding: 22px !important;
  }

  .navbar-link {
    color: black !important;
  }

  .container-producto {
    grid-template-columns: auto auto;
  }

  .container-img {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    align-items: center;
    position: static;
  }

  .container-btn-img {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
  }

  .btn-img {
    background-color: black;
    color: white;
    padding: 10px 30px;
    position: static;
    bottom: 0;
    left: 0;
  }

}
@media screen and (max-width: 600px) {
  html {
    font-size: 0.85rem;
  }

  .container-input input,.container-input textarea, .container-input button {
    width: 350px;
  }
  .carrito-item {
    font-size: 0.75rem;
  }
}
